.Fondo {
    background-image: url("imagenes/C6.jpg");
    background-size: cover;
    background-attachment: fixed;
  }

  .btn-neon{
    background-color: #f8f2f2;
    border-color: rgb(252, 0, 130);
    text-align: center;
    width: 100px;
    font-size: 10px;
    height: 20px;
    position: relative;
    display: inline-block;
    color: #303030;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    
}
.btn-neon:hover{
    color: aliceblue;
    background: rgb(252, 0, 130);
    box-shadow: 0 0 10px rgb(252, 0, 130), 0 0 40px rgb(252, 0, 130), 0 0 80px rgb(252, 0, 130);
    transition-delay: 0.2s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,rgb(252, 0, 130));
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,rgb(252, 0, 130));
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(252, 0, 130));
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(252, 0, 130));
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}